<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Yoo Tae Gyun</h1>
        <i class="bi bi-emoji-smile"></i>
        <i class="bi bi-suit-heart"></i>
        
            <br>
            <br>
        <button class="btn btn-dark btn-lg" type="button" routerLink="/register">
            Register
        </button>
        &nbsp;
        <button class="btn btn-success btn-lg" type="button" routerLink="/login">
            Login
        </button>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="card bg-dark" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">유태균</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Yoo Tae Gyun</h6>
                    <i class="bi bi-house-door-fill"></i> : Incheon <br>
                    <a href="https://open.kakao.com/o/sVvEDo8c" class="card-link"> <i class="bi bi-chat-fill"></i> : 9tae9gyun</a> <br>
                    <a href="https://www.facebook.com/people/%EC%9C%A0%ED%83%9C%EA%B7%A0/100006823689442/" class="card-link"> <i class="bi bi-facebook"></i> : yootaegyun</a> <br>
                    <a href="https://www.instagram.com/9_9t9_9/" class="card-link"> <i class="bi bi-instagram"></i> : 9_9t9_9</a> <br>
                    <br>
                    <a href="https://taegyun2.netlify.app/" class="card-link"> <i class="bi bi-person-fill"></i> 개인</a>
                    <a href="https://drop-into-the-bar.netlify.app/" class="card-link"> <i class="bi bi-people-fill"></i> 팀</a>
                    
                </div>
            </div>
        </div>
        <div class="col text-center"> 
            <div class="card bg-dark" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">팀 프로젝트</h5>
                    <h6 class="card-subtitle mb-2 text-muted">벌초 예약 서비스</h6>
                    <p class="card-text">팀장: 유태균 <br> 팀원: 성우상 이승훈 이규민</p>
                    <a href="https://vercho-is.herokuapp.com/" class="card-link"> <i class="bi bi-file-earmark-lock-fill"></i> 프로젝트</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
