
<br>
<div *ngIf="name"> 
    <h2 class="page-header">사용자 이름: {{ name }}</h2> 
    <br>
    <form> 
        <div class="form-group">
            <label>UserInfo</label>
            <textarea class="form-control" rows="1" disabled> {{ userString }} </textarea> 
        </div>
        <br>
        <div class="form-group">
            <label>Token</label> 
            <textarea class="form-control" rows="4" disabled> {{ token }} </textarea> 
        </div>
        <br>
        <div class="form-group">
            <label>명함정보</label> 
            <textarea class="form-control" rows="4" disabled> {{ card }} </textarea> 
        </div> 
    </form>
</div>
